<div class="table-container">
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Define columns -->
    <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
      <th mat-header-cell *matHeaderCellDef>{{ col | titlecase }}</th>
      <td mat-cell *matCellDef="let element">
        <!-- Render cell content based on column -->
        <ng-container *ngIf="col !== 'acciones' && col !== 'fechaCreacion'; else accionesTemplate">
          {{ element[col] }}
        </ng-container>
        <ng-template #accionesTemplate>
          <ng-container *ngIf="col !== 'acciones'; else accionesButtons">
            {{ element[col] | date: 'yyyy-MM-dd' }}
          </ng-container>
          <ng-template #accionesButtons>
            <div class="action-buttons">
              <button mat-icon-button color="primary" (click)="editPersona(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="confirmarBorrado(element.identificador)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-template>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="toggleRow(element); $event.stopPropagation()">
          <mat-icon>{{ isRowExpanded(element) ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Assign columns to header rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- Assign rows to data rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="expandedElement = expandedElement === row ? null : row">
    </tr>

    <!-- Expanded row -->
    <tr mat-row *matRowDef="let detailRow; columns: ['expand']; when: isRowExpanded" class="detail-row">
    </tr>
  </table>


  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>




